@import "tailwindcss/theme";
@import "tailwindcss/utilities";

@utility font-system {
    @apply font-[system-ui];
}

@utility overlay-scrollbar {
    scrollbar-width: none;
}

:root {
    @apply font-system;
    @apply overscroll-none;
    @apply dark:scheme-dark;
}

body {
    margin: 0;
    padding: 0;
}

#root {
    @apply grid;
    grid-template-rows: 100vh;
    grid-template-columns: 100vw;
}

input {
    font-family: system-ui;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    @apply box-border;
}
