@import "tailwindcss/theme.css" layer(theme);
@import "./utils.css";

@utility font-system {
    @apply font-[system-ui];
}

@utility buttons-first {
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button {
        @apply order-first;
    }
}

:root,
body {
    @apply font-system;
    @apply overscroll-none;
    @apply scheme-dark;
    @apply bg-neutral-900;
}

body {
    margin: 0;
    padding: 0;
}

#root {
    @apply grid;
    grid-template-rows: 100vh;
    grid-template-columns: 100vw;
    @supports (width: 1dvh) {
        grid-template-rows: 100dvh;
        grid-template-columns: 100dvw;
    }
}

input {
    @apply font-system;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    @apply box-border;
    @apply min-w-16;
}
