.file-input-form {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin: 0 0.5em;

    input[type="file"] {
        flex-grow: 1;
    }

    input[type="submit"],
    input[type="reset"],
    button {
        min-width: 5em;
        order: -1;
    }
}

.status-bar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 0.5em;

    audio {
        height: 2em;
    }
}

.visualizing-stage {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    background-color: black;
}

.channel-plot {
    display: grid;
    grid-template-columns: 60px 1fr;
}

.channel-canvas {
    margin-top: 10px;
}

.channel-canvas-container {
    overflow-x: overlay;
    overscroll-behavior: none;
}

.channel-canvas-scrollable {
    display: flex;
    flex-direction: column;
    position: relative;
}

.playing-head-absolute-container {
    position: absolute;
    left: 0;
    top: 5px;
    cursor: ew-resize;
}
