.file-input-form {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin: 0 0.5em;

    input[type="file"] {
        flex-grow: 1;
    }

    input[type="submit"],
    input[type="reset"],
    button {
        min-width: 5em;
        order: -1;
    }
}

.prompt-line {
    margin: 0 0.5em;
}

.visualizing-stage {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    background-color: black;
}

.channel-plot {
    display: grid;
    grid-template-columns: 60px 1fr;
}

.channel-canvas-container {
    overflow-x: overlay;
    overscroll-behavior: none;
    padding-top: 10px;
}

.channel-canvas-scrollable {
    display: flex;
    flex-direction: column;
}
